@font-face {
font-family: "Chalkduster";
src: url('fonts/Chalkduster.ttf')
}

p {
	position: fixed;
	font-family: "Chalkduster";
	font-size: 18px;
	/*border-style: solid;
	border-width: 1px;
	border-color: black;*/
}


body { 
  margin: 0;
  -webkit-user-select: text; /*user can only select text, not images*/
}

audio { 
  /*move soundtrack off page to eliminate potential interference with page layout */
  position: absolute;
  top: -30px;
}


img {
  position: absolute;
  margin: 0;
}

img.background {
  width: 575px;
  height: 432px;
  margin: 0;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.page {
	position: relative;
  width: 575px;
  height: 432px;
  overflow: hidden;
}

.-epub-media-overlay-active {
  color: #dc4c37;
}



/* 
  When using global styles, be aware that the keyframe names
  are global.
*/

@-webkit-keyframes glow {
  0%    { text-shadow: 0px 0px 15px #69828d; }
  100%  { text-shadow: 0px 0px 3px; }
}

.visible{ 
  opacity: 1 !important; 
  color: #11f700 !important;
}
